<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Sitekick</title>

	<style type="text/css">
		/* Client-specific Styles */
		#outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
		body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
		/* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
		.ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
		.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.*/
		#backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
		img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
		a img {border:none;}
		.image_fix {display:block;}
		p {margin: 0px 0px !important;}
		table td {border-collapse: collapse;}
		table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
		a {color: #3cb9d5;text-decoration: none;text-decoration:none!important;}
		/*STYLES*/
		table[class=full] { width: 100%; clear: both; }
		/*IPAD STYLES*/
		@media only screen and (max-width: 640px) {
			a[href^="tel"], a[href^="sms"] {
				text-decoration: none;
				color: #3cb9d5; /* or whatever your want */
				pointer-events: none;
				cursor: default;
			}
			.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
				text-decoration: default;
				color: #3cb9d5 !important;
				pointer-events: auto;
				cursor: default;
			}
			table[class=devicewidth] {width: 440px!important;text-align:center!important;}
			table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
			img[class=banner] {width: 440px!important;height:220px!important;}
			img[class=colimg2] {width: 440px!important;height:220px!important;}


		}
		/*IPHONE STYLES*/
		@media only screen and (max-width: 480px) {
			a[href^="tel"], a[href^="sms"] {
				text-decoration: none;
				color: #3cb9d5; /* or whatever your want */
				pointer-events: none;
				cursor: default;
			}
			.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
				text-decoration: default;
				color: #3cb9d5 !important;
				pointer-events: auto;
				cursor: default;
			}
			table[class=devicewidth] {width: 280px!important;text-align:center!important;}
			table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
			img[class=banner] {width: 280px!important;height:140px!important;}
			img[class=colimg2] {width: 280px!important;height:140px!important;}
			td[class=mobile-hide]{display:none!important;}
			td[class="padding-bottom25"]{padding-bottom:25px!important;}

		}
	</style>
</head>
<body>
<!-- logo -->
<table width="140" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
	<tbody>
	<tr>
		<td width="169" height="45" align="center">
			<div class="imgpop">
				<br><br>
				<?php echo $this->Html->image('sitekick/email/sitekick.png',['fullBase' => true, 'border' => 0, 'width' => 250, 'height' => 59, 'style' => 'display:block; border:none; outline:none; text-decoration:none;']); ?>
			</div>
		</td>
	</tr>
	</tbody>
</table>
<!-- end of logo -->
<!-- Start of seperator -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="seperator">
	<tbody>
	<tr>
		<td>
			<table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
				<tbody>
				<tr>
					<td align="center" height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
				</tr>
				<tr>
					<td width="550" align="center" height="1" bgcolor="#ffffff" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #d1d1d1;">&nbsp;</td>
				</tr>
				<tr>
					<td align="center" height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
<!-- End of seperator -->
<!-- Start Full Text -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
	<tbody>
	<tr>
		<td>
			<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
				<tbody>
				<tr>
					<td width="100%">
						<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
							<tbody>
							<!-- Spacing -->
							<tr>
								<td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
							</tr>
							<!-- Spacing -->
							<tr>
								<td>
									<?php echo $this->fetch('content'); ?>
								</td>
							</tr>
							<!-- Spacing -->
							<tr>
								<td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
							</tr>
							<!-- Spacing -->
							</tbody>
						</table>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
<!-- end of full text -->
<!-- Start of seperator -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="seperator">
	<tbody>
	<tr>
		<td>
			<table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
				<tbody>
				<tr>
					<td align="center" height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
				</tr>
				<tr>
					<td width="550" align="center" height="1" bgcolor="#ffffff" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #d1d1d1;">&nbsp;</td>
				</tr>
				<tr>
					<td align="center" height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
<!-- End of seperator -->
<!-- Start of Postfooter -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="postfooter" >
	<tbody>
	<tr>
		<td>
			<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
				<tbody>
				<tr>
					<td width="100%">
						<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
							<tbody>
							<tr>
								<td align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 14px;color: #666666" st-content="postfooter">
									Sitekick is ontwikkeld door <a href="https://www.nobears.nl" style="text-decoration: none; color: #3cb9d5">NOBEARS</a>
								</td>
							</tr>
							<!-- Spacing -->
							<tr>
								<td width="100%" height="20"></td>
							</tr>
							<!-- Spacing -->
							</tbody>
						</table>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
<!-- End of postfooter -->
</body>
</html>