@font-face {
  font-family: 'sitekick';
  src:  url('fonts/sitekick.eot?z2kehb');
  src:  url('fonts/sitekick.eot?z2kehb#iefix') format('embedded-opentype'),
  url('fonts/sitekick.ttf?z2kehb') format('truetype'),
  url('fonts/sitekick.woff?z2kehb') format('woff'),
  url('fonts/sitekick.svg?z2kehb#sitekick') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sitekick' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-form:before {
  content: "\e909";
}
.icon-mobile:before {
  content: "\e906";
}
.icon-tablet:before {
  content: "\e907";
}
.icon-laptop:before {
  content: "\e908";
}
.icon-language:before {
  content: "\e905";
}
.icon-webshop:before {
  content: "\e904";
}
.icon-thumbs:before {
  content: "\e903";
}
.icon-seo-3:before {
  content: "\e901";
}
.icon-date:before {
  content: "\e600";
}
.icon-reload:before {
  content: "\e601";
}
.icon-loading:before {
  content: "\e602";
}
.icon-stats:before {
  content: "\e603";
}
.icon-arrow:before {
  content: "\e604";
}
.icon-arrow-down:before {
  content: "\e605";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-check:before {
  content: "\e607";
}
.icon-check-2:before {
  content: "\e608";
}
.icon-cross:before {
  content: "\e609";
}
.icon-cross-2:before {
  content: "\e60a";
}
.icon-delete:before {
  content: "\e60b";
}
.icon-dropdown:before {
  content: "\e60c";
}
.icon-envelop:before {
  content: "\e60d";
}
.icon-facebook .path1:before {
  content: "\e60e";
  color: rgb(79, 110, 168);
}
.icon-facebook .path2:before {
  content: "\e60f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-google-plus .path1:before {
  content: "\e610";
  color: rgb(222, 54, 20);
}
.icon-google-plus .path2:before {
  content: "\e611";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-google-plus .path3:before {
  content: "\e612";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-heart:before {
  content: "\e613";
}
.icon-heart_fill:before {
  content: "\e614";
}
.icon-help:before {
  content: "\e615";
}
.icon-home:before {
  content: "\e616";
}
.icon-in-cloud:before {
  content: "\e617";
}
.icon-download:before {
  content: "\e900";
}
.icon-info:before {
  content: "\e618";
}
.icon-instagram .path1:before {
  content: "\e619";
  color: rgb(76, 72, 70);
}
.icon-instagram .path2:before {
  content: "\e61a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-link:before {
  content: "\e61b";
}
.icon-linkedin .path1:before {
  content: "\e61c";
  color: rgb(15, 131, 177);
}
.icon-linkedin .path2:before {
  content: "\e61d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-list:before {
  content: "\e61e";
}
.icon-location:before {
  content: "\e61f";
}
.icon-lock:before {
  content: "\e620";
}
.icon-lock-open:before {
  content: "\e621";
}
.icon-eye:before {
  content: "\e902";
}
.icon-manage:before {
  content: "\e622";
}
.icon-menu:before {
  content: "\e623";
}
.icon-menu-2:before {
  content: "\e624";
}
.icon-min:before {
  content: "\e625";
}
.icon-move:before {
  content: "\e626";
}
.icon-newsletter:before {
  content: "\e627";
}
.icon-order:before {
  content: "\e628";
}
.icon-painting:before {
  content: "\e629";
}
.icon-paintings:before {
  content: "\e62a";
}
.icon-paper:before {
  content: "\e62b";
}
.icon-pencil:before {
  content: "\e62c";
}
.icon-pencil-2:before {
  content: "\e62d";
}
.icon-phone:before {
  content: "\e62e";
}
.icon-pinterest .path1:before {
  content: "\e62f";
  color: rgb(202, 46, 44);
}
.icon-pinterest .path2:before {
  content: "\e630";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-plus:before {
  content: "\e631";
}
.icon-reference:before {
  content: "\e632";
}
.icon-save:before {
  content: "\e633";
}
.icon-search:before {
  content: "\e634";
}
.icon-seo:before {
  content: "\e635";
}
.icon-seo-2:before {
  content: "\e636";
}
.icon-sitekick:before {
  content: "\e637";
}
.icon-skype .path1:before {
  content: "\e638";
  color: rgb(255, 255, 255);
}
.icon-skype .path2:before {
  content: "\e639";
  margin-left: -1em;
  color: rgb(72, 158, 216);
}
.icon-statistics:before {
  content: "\e63a";
}
.icon-team:before {
  content: "\e63b";
}
.icon-thunder:before {
  content: "\e63c";
}
.icon-thunder-2:before {
  content: "\e63d";
}
.icon-twitter .path1:before {
  content: "\e63e";
  color: rgb(60, 182, 234);
}
.icon-twitter .path2:before {
  content: "\e63f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-vimeo .path1:before {
  content: "\e640";
  color: rgb(181, 201, 67);
}
.icon-vimeo .path2:before {
  content: "\e641";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-web:before {
  content: "\e642";
}
.icon-youtube .path1:before {
  content: "\e643";
  color: rgb(202, 46, 44);
}
.icon-youtube .path2:before {
  content: "\e644";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
