.inline-edit {
    width: 100%;
    display: block;
    position: relative;
    &:hover {
        background: rgba(188, 188, 188, 0.2);
    }

    div[data-shortcode] {
        display: block;
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        color: #555555 !important;
        padding: 6px 7px !important;
        border: 1px solid #d9d9d9;
        background-color: #ededed;
        border-radius: 3px;
        opacity: 0.7;
    }

    .input-group {
        width: 100%;
        margin: 0;
        display: block;
    }

    .redactor-box {
        background: none;

        .redactor-toolbar {
            position: absolute;
            top: -32px;
            left: 0;
            right: 0;
        }

        .redactor-editor {
            padding: 0;
            border: 0;
            overflow: visible;
            background: none;
        }
    }
}

ul.inline-edit-controls {
    font-size: 0;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    position: absolute;
    bottom: -35px;
    right: 5px;
    z-index: 10;

    &.inline-edit-news {
        top: 5px;
        z-index: 1;
    }

    .inline-edit[data-editor='title'] & {
        top: 0;
    }

    .inline-edit[data-editor='basic'] & {
        top: 5px;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;

        a, button, .btn {
            color: #6f6f6f;
            font-size: 16px;
            font-family: "proxima-nova", sans-serif;
            text-decoration: none;
            line-height: 18px;
            vertical-align: middle;
            margin: 0;
            padding: 7px 12px;
            display: inline-block;
            border: 0;
            border-radius: 4px;
            outline: 0;

            &.inline-save {
                color: #FFFFFF;
                margin-right: 7px;
                background: #2eb582;

                &:hover {
                    background: #208a62;
                }
            }
            &.inline-cancel {
                color: #000000;
                font-size: 14px;
                font-weight: 900;

                &:hover {
                    background: #d1d1d1;
                }
            }
            &.inline-delete {
                color: #BABABA;
                font-size: 0;
                line-height: 0;
                padding: 6px 8px;
                border: 1px solid #BABABA;

                &:hover {
                    color: #fb523f;
                }

                span {
                    font-size: 18px;
                }
            }
        }

        &.inline-edit-counter {
            color: #6f6f6f;
            font-size: 15px;
            font-family: "proxima-nova", sans-serif;
            line-height: 18px;
            vertical-align: middle;
            margin: 0;
            padding: 0 12px;
            border: 0;
            border-radius: 4px;
            outline: 0;
            display: none;

            .sitekick_counter {
                color: #FFFFFF;
                margin: 0;
                padding: 5px 8px;
                display: inline-block;
                background: #2eb582;
                border-radius: 4px;
            }
        }
    }
}

///* LOADSPINNER */
.loader {
    position: relative;
    margin: 100px auto 0;
    width: 70px;
    text-align: center;

    .pacman {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

//
//	& > div {
//		width: 18px;
//		height: 18px;
//		background-color: #2eb582;
//		border-radius: 100%;
//		display: inline-block;
//		-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
//		animation: bouncedelay 1.4s infinite ease-in-out;
//		-webkit-animation-fill-mode: both;
//		animation-fill-mode: both;
//
//		// Safari flicker-fix
//		-webkit-perspective: 1000;
//		-webkit-backface-visibility: hidden;
//		-webkit-transform: translate3d(0,0,0);
//	}
//
//
//	.bounce1 {
//		-webkit-animation-delay: -0.32s;
//		animation-delay: -0.32s;
//	}
//	.bounce2 {
//		-webkit-animation-delay: -0.16s;
//		animation-delay: -0.16s;
//	}
//
//	@-webkit-keyframes bouncedelay {
//		0%, 80%, 100% { -webkit-transform: scale(0.0) }
//		40% { -webkit-transform: scale(1.0) }
//	}
//
//	@keyframes bouncedelay {
//		0%, 80%, 100% {
//			transform: scale(0.0);
//			-webkit-transform: scale(0.0);
//		} 40% {
//			transform: scale(1.0);
//			-webkit-transform: scale(1.0);
//		}
//	}
//}

.uploader {
    padding: 30px 0;

    span {
        font-size: 100px;
    }
}

.uploadedImage {
    text-align: left;
    width: 100%;

    .image {
        //		width: 100%;
        border: 0;

        img {
            //			width: 100%;
        }

        .edit-image {
            cursor: pointer;
            color: #9c9c9c;
            font-size: 21px;
            padding: 7px 8px;
            background: #FFFFFF;
            border: 1px solid #CDCDCD;
            border-radius: 5px;
            position: absolute;
            z-index: 10;
            top: 13px;
            right: 13px;

            &:hover {
                color: #FFFFFF;
                background: #2eb582;
                border-color: #2eb582;
            }
        }
    }
}