.item-grid {
  /*NEW ITEM*/
  /*EDIT*/
  /*NO_IMAGE*/
  /*HIGHLIGHT*/
  /*DELETE*/
  /*COPY*/
  /*OVERALL*/
  /*SUBSCRIPTION*/
}
.item-grid .item .no-translation-alert {
  display: block;
  clear: both;
  font-weight: bold;
  color: red;
}
.item-grid .item .newsitem-title {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}
.item-grid .newitem {
  text-align: center;
  height: 168px;
  margin-bottom: 20px;
  display: block;
  background: #2eb582;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.item-grid .newitem:hover {
  text-decoration: none;
  background: #208a62;
}
.item-grid .newitem span {
  display: inline;
  color: #FFF;
}
.item-grid .newitem .icon-edit {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30px;
  padding: 0 20px;
}
.item-grid .newitem .icon-edit span {
  font-size: 70px;
  line-height: 70px;
}
.item-grid .newitem strong {
  display: inline;
  color: #FFF;
  display: block;
  margin-top: 15px;
  font-size: 21px;
}
.item-grid .item strong,
.item-grid .newitem strong {
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  width: 100%;
  color: #FFF;
}
.item-grid .item-image .icon-edit {
  position: relative;
  width: 100%;
  text-align: center;
  top: 300px;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
.item-grid .item-image:hover .icon-edit {
  top: 12%;
}
.item-grid .item-image .icon-edit span {
  color: #FFF;
  text-align: center;
  font-size: 70px;
  line-height: 70px;
}
.item-grid .icon-edit strong {
  display: inline;
  color: #FFF;
  display: block;
  margin-top: 16px;
  font-size: 21px;
}
.item-grid .item-image:hover .image {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.item-grid .item-image:hover .highlight {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.item-grid .item-image:hover .delete {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.item-grid .item-image:hover .copy {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.item-grid .item-image span:hover .info {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.item-grid .item-image {
  border-radius: 5px;
  margin-bottom: 17px;
  background: #3cb9d5;
  display: block;
  height: 168px;
  overflow: hidden;
  padding-top: 10px;
  position: relative;
}
.item-grid .item-image .image {
  height: 168px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.item-grid .item-image .image {
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  -webkit-opacity: 1.0;
  -moz-opacity: 1.0;
  opacity: 1.0;
  position: absolute;
  top: 0;
  overflow: hidden;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
.item-grid .item .noimage {
  position: relative;
  width: 100%;
  text-align: center;
  top: 30px;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
  color: #b6b6b6;
}
.item-grid .item .noimage span {
  font-size: 70px;
  line-height: 70px;
  clear: both;
  display: block;
}
.item-grid .item .noimage strong {
  color: #b6b6b6;
  display: block;
  margin-top: 10px;
  font-size: 21px;
}
.item-grid .item .highlight {
  position: absolute;
  display: inline-block;
  z-index: 20;
  right: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background: none!important;
  padding: 0;
  text-align: center;
  border-radius: 0 5px 0 0;
  overflow: hidden;
}
.item-grid .item .highlight span {
  font-size: 18px;
}
.item-grid .item .highlight .background {
  background-color: #3cb9d5 !important;
  height: 60px;
  width: 60px;
  position: absolute;
  display: inline-block;
  right: -30px;
  -webkit-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  transform: skewX(45deg);
  -khtml-border-radius: 0px 5px 0px 5px;
  border-radius: 0px 5px 0px 0px;
}
.item-grid .item .highlight span {
  z-index: 25;
  position: absolute;
  color: #fff;
  top: 10px;
  right: 10px;
}
.item-grid .item .future {
  position: absolute;
  display: inline-block;
  z-index: 20;
  right: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background: none!important;
  padding: 0;
  text-align: center;
  border-radius: 0 5px 0 0;
  overflow: hidden;
}
.item-grid .item .future span {
  font-size: 18px;
}
.item-grid .item .future .background {
  background-color: #f89829 !important;
  height: 60px;
  width: 60px;
  position: absolute;
  display: inline-block;
  right: -30px;
  -webkit-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  transform: skewX(45deg);
  -khtml-border-radius: 0px 5px 0px 5px;
  border-radius: 0px 5px 0px 0px;
}
.item-grid .item .future span {
  z-index: 25;
  position: absolute;
  color: #fff;
  top: 10px;
  right: 10px;
}
.item-grid .item .delete {
  position: absolute;
  display: inline-block;
  z-index: 20;
  background: none !important;
  padding: 0;
  text-align: right;
  bottom: 8px;
  right: 10px;
  color: #FFF;
}
.item-grid .item .delete span {
  font-size: 16px;
}
.item-grid .item .delete .info {
  margin-right: 10px;
}
.item-grid .item .copy {
  position: absolute;
  display: inline-block;
  z-index: 20;
  background: none !important;
  padding: 0;
  text-align: right;
  bottom: 0px;
  left: 10px;
  color: #FFF;
}
.item-grid .item .copy span {
  font-size: 25px;
}
.item-grid .item .copy .info {
  margin-left: 10px;
  left: 25px;
  right: auto !important;
  white-space: nowrap;
}
@media (min-width: 1025px) {
  .item-grid .item-image .highlight,
  .item-grid .item-image .delete,
  .item-grid .item-image .copy {
    padding-top: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
.item-grid .item .highlight .info,
.item-grid .item .delete .info,
.item-grid .item .copy .info {
  font-family: "museo-sans", sans-serif;
  color: #848484;
  background: #fff;
  font-size: 14px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  position: absolute;
  right: 25px;
  top: -3px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.item-grid .items {
  margin-bottom: 30px;
}
.item-grid .item {
  width: 100%;
  float: left;
  list-style-type: none;
  position: relative;
  margin: 0 0 20px 0;
  overflow: hidden;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.item-grid .item h3 {
  font-size: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
  margin: 0 0 5px 0;
  overflow: hidden;
  padding-left: 0;
}
@media (min-width: 992px) {
  .item-grid .item h3 {
    font-size: 24px;
    line-height: 30px;
  }
}
.item-grid .item:hover {
  text-decoration: none;
}
.item-grid .item p {
  word-break: break-all;
  font-size: 14px;
}
@media (min-width: 1300px) {
  .item-grid .item strong,
  .item-grid .newitem strong {
    font-size: 25px;
  }
}
