// compress:true

.item-grid {
	
	.item {
	
		.no-translation-alert {
			display: block;
			clear: both;
			font-weight: bold;
			color: red;
		}
		
		.newsitem-title {
			font-size: 20px;
			padding: 0px;
			margin: 0px;			
		}
	
	}
	
	/*NEW ITEM*/
	.newitem {
		text-align: center;
		height: 168px;
		margin-bottom: 20px;
		display: block;
		background: #2eb582;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		
		&:hover {
			text-decoration: none;
			background: #208a62;
		}
		span {
			display: inline;
			color: #FFF;
		}
		.icon-edit {
			position: absolute;
			width: 100%;
			text-align: center;
			top: 30px;
			padding: 0 20px;
			span {
				font-size: 70px;
				line-height: 70px;
			}
		}
		strong {
			display: inline;
			color: #FFF;
			display: block;
			margin-top: 15px;
			font-size: 21px;
		}
	}

	.item strong, .newitem strong {
		font-family: "museo-sans",sans-serif;
		font-weight: 300;
		width: 100%;
		color: #FFF;
	}


	/*EDIT*/
	.item-image .icon-edit {
		position: relative;
		width: 100%;
		text-align: center;
		top: 300px;
		-webkit-transition: all 0.75s ease;
		transition: all 0.75s ease;
	}

		.item-image:hover .icon-edit { top: 12%; }
		.item-image .icon-edit span { color: #FFF; text-align: center; font-size: 70px;  line-height: 70px;}
		.icon-edit strong { display: inline; color: #FFF; display: block;  margin-top: 16px; font-size: 21px; }


	.item-image:hover .image {-webkit-opacity: 0;-moz-opacity: 0; opacity: 0;}
	.item-image:hover .highlight { -webkit-opacity: 1; -moz-opacity: 1; opacity: 1;}
	.item-image:hover .delete { -webkit-opacity: 1; -moz-opacity: 1; opacity: 1;}
	.item-image:hover .copy { -webkit-opacity: 1; -moz-opacity: 1; opacity: 1;}
	.item-image span:hover .info{-webkit-opacity: 1; -moz-opacity: 1; opacity: 1;}


	.item-image {
		border-radius: 5px;
		margin-bottom: 17px;
		background: #3cb9d5;
		display: block;
		height: 168px;
		overflow: hidden;
		padding-top:10px;
		position: relative;
	}

	.item-image .image{
		height: 168px;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
		-khtml-border-radius: 5px;
		border-radius: 5px;
	}

	.item-image .image {
		-khtml-border-radius: 5px;
		border-radius: 5px;
		width: 100%;
		-webkit-opacity: 1.0;
		-moz-opacity: 1.0;
		opacity: 1.0;
		position: absolute;
		top:0;
		overflow: hidden;
		-webkit-transition: all 0.75s ease;
		transition: all 0.75s ease;
	}



	/*NO_IMAGE*/
	.item .noimage{
		position: relative;
		width: 100%;
		text-align: center;
		top: 30px;
		-webkit-transition: all 0.75s ease;
		transition: all 0.75s ease;
		color:#b6b6b6;
	}


		.item .noimage span { font-size: 70px; line-height: 70px; clear: both; display: block;}
		.item .noimage strong { color:#b6b6b6; display: block; margin-top: 10px; font-size: 21px; }


	/*HIGHLIGHT*/
	.item .highlight {
		position: absolute;
		display: inline-block;
		z-index:20;
		right: 0;
		top: 0;
		width: 100%;
		height: 60px;
		background: none!important;
		padding: 0;
		text-align: center;
		border-radius: 0 5px 0 0;
		overflow: hidden;
	}

		.item .highlight span {
			font-size: 18px;       
		}

		.item .highlight .background {
			background-color: #3cb9d5 !important;
			height:60px;
			width:60px;
			position: absolute;
			display: inline-block;
			right: -30px;
			-webkit-transform: skewX(45deg);
			-ms-transform: skewX(45deg);
			transform: skewX(45deg);
			-khtml-border-radius: 0px 5px 0px 5px;
			border-radius: 0px 5px 0px 0px;        
		}

		.item .highlight span {
			z-index:25;
			position: absolute;
			color:#fff;
			top: 10px;
			right: 10px;
		}  


	.item .future {
		position: absolute;
		display: inline-block;
		z-index:20;
		right: 0;
		top: 0;
		width: 100%;
		height: 60px;
		background: none!important;
		padding: 0;
		text-align: center;
		border-radius: 0 5px 0 0;
		overflow: hidden;
	}

		.item .future span {
			font-size: 18px;       
		}

		.item .future .background {
			background-color: #f89829 !important;
			height:60px;
			width:60px;
			position: absolute;
			display: inline-block;
			right: -30px;
			-webkit-transform: skewX(45deg);
			-ms-transform: skewX(45deg);
			transform: skewX(45deg);
			-khtml-border-radius: 0px 5px 0px 5px;
			border-radius: 0px 5px 0px 0px;        
		}

		.item .future span {
			z-index:25;
			position: absolute;
			color:#fff;
			top: 10px;
			right: 10px;
		}  		


	/*DELETE*/
	.item .delete {
		position: absolute;
		display: inline-block;
		z-index: 20;
		background: none !important;
		padding: 0;
		text-align: right;
		bottom: 8px; right: 10px;
		color: #FFF;
	}

	.item .delete span{
		font-size: 16px;
	}
	
	.item .delete .info {
		margin-right: 10px;
	}


	/*COPY*/
	.item .copy {
		position: absolute;
		display: inline-block;
		z-index: 20;
		background: none !important;
		padding: 0;
		text-align: right;
		bottom: 0px; left: 10px;
		color: #FFF;
	}
	.item .copy span{
		font-size: 25px;
	}
	.item .copy .info {
		margin-left: 10px;
		left: 25px;
		right: auto !important;
		white-space: nowrap;
	}

	/*OVERALL*/
	@media (min-width: 1025px) {
		.item-image .highlight, .item-image .delete, .item-image .copy {
			padding-top:0;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
		}
	}
	

	.item .highlight .info, .item .delete .info, .item .copy .info{
		font-family: "museo-sans",sans-serif;
		color:#848484;
		background: #fff;
		font-size: 14px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		padding:5px;
		padding-right:10px;
		padding-left:10px;
		position: absolute;
		right: 25px;
		top: -3px;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
	}



	/*SUBSCRIPTION*/
	.items { margin-bottom: 30px; }

	.item {
		width: 100%;
		float: left;
		list-style-type: none;
		position:relative;
		margin: 0 0 20px 0;
		overflow: hidden;
		-khtml-border-radius: 5px;
		border-radius: 5px;
	}

	.item h3 {
		font-size: 21px;
		text-overflow: ellipsis;
		white-space: nowrap; 
		line-height: 24px;
		margin: 0 0 5px 0;
		overflow: hidden;
		padding-left: 0;
		
		@media (min-width: 992px) {
			font-size: 24px;
			line-height: 30px;
		}
	}
		
	.item:hover { text-decoration: none; }
	.item p {word-break: break-all;font-size: 14px;}
	
	@media (min-width: 1300px) {
		.item strong, .newitem strong {
			font-size: 25px;
		}
	}
}