/*
    Sitekick standalone stylesheet
    Navbar
 */
$sitekickNavbarHeight: 70px;

#sitekick-navbar {
    color: #cacaca;
    font-family: "proxima-nova", sans-serif;
    width: 100%;
    height: $sitekickNavbarHeight;
    display: block;
    background: #252b31;
    z-index: 999999999;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;

    img {
        vertical-align: middle;
    }

    a {
        font-size: 16px;
        color: white;
        text-decoration: none;
        font-family: "proxima-nova", sans-serif;
    }

    .hidden-xs {
        display: block;
        @media screen and (max-width: 992px){
            display: none !important;
        }
    }

    .visible-xs {
        display: none;
        @media screen and (max-width: 992px){
            display: block !important;
        }
    }

    .row {
        height: $sitekickNavbarHeight;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;

        &:before {
            display: table;
            content: " ";
        }

        margin: 0;
        padding: 0;

        .navbar-collapse-container {

            @media (min-width: 992px) {
                float: left;
                width: 33.33333333%;
                height: 100%;
            }

            .navbar-toggle {
                color: #252b31;
                font-size: 26px;
                text-align: center;
                width: 100%;
                height: $sitekickNavbarHeight;
                margin: 0;
                padding: 20px;
                display: block;
                background: #ebebeb;
                border: 0;
                border-radius: 0;
                cursor: pointer;

            }
        }

        .logo-area {
            height: 100%;
            float: left;
            flex-shrink: 0;

            @media (min-width: 992px){
                display: block;
                width: 16.66666667%;
            }

            @media (min-width: 1200px) {
                width: 16.66666667%;
            }

            @media (min-width: 1460px) {
                width: 12.666667%;
            }




            .logo-container {
                border-right: 1px solid #31363c;
                height: $sitekickNavbarHeight;
                line-height: $sitekickNavbarHeight;
                display: none;

                @media (min-width: 992px){
                    float: left;
                    width: 66.66666667%;
                    text-align: center;
                    display: block;
                }

                img {
                    text-align: center;
                    max-width: 100%;
                    height: auto;
                    padding: 10px;
                    vertical-align: middle;
                }
            }


        }

    }

    .dropdown {
        a {
            background: #252b31;
            .icon-dropdown {
                color: #2eb582;
                font-size: 16px;
                line-height: 70px;
                vertical-align: middle;
                margin: 0 0 0 5px;
                display: inline;
            }
        }
        &.open {
            a {
                background: none;
                border: none;
                text-decoration: none;
            }
            .dropdown-menu {
                display: block;
            }
        }
        .dropdown-menu {
            min-width: 100%;
            margin: 0;
            padding: 0;
            background-color: #252b31;
            border: 0;
            border-radius: 0;
            box-shadow: 0 0 0;
            -webkit-box-shadow: 0 0 0;
            left: auto;
            right: 0;
            display: none;
            @media (min-width: 768px) {
                left: 0;
                right: auto;
            }
            li {
                height: auto;
                float: none;
                a {
                    font-size: 15px;
                    line-height: inherit;
                    height: inherit;
                    padding: 12px 21px 12px 59px;
                    border-top: 1px solid #51555a;
                    display: block;
                    position: relative;
                    text-decoration: none;
                    &:hover,
                    &:focus {
                        background: #383e43;
                    }
                    span {
                        color: #2eb582;
                        font-size: 24px;
                        margin: 11px 21px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }

    #sitekick-navbar-shortcuts {
        width: 100%;
        float: left;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: auto;
            li {
                float: left;
                height: $sitekickNavbarHeight;

                ul {
                    li {
                        float: none;
                        height: auto;
                    }
                }
            }

            &.admin-mode {
                li.admin-mode-text {
                    padding: 23px 21px;
                }

                li {
                    a {
                        color: #848484;
                        font-size: 29px;
                        text-align: center;
                        width: 100%;
                        height: $sitekickNavbarHeight;
                        padding: 3px 19px;
                        display: inline-block;
                        text-decoration: none;
                        line-height: $sitekickNavbarHeight;
                        &:hover,
                        &.active {
                            color: #2eb582;
                            text-decoration: none;
                            background: #383e43;
                        }
                    }
                }
            }
        }

        .options {
            border-left: 1px solid #31363c;
            >a {
                height: $sitekickNavbarHeight;
                color: #FFFFFF;
                line-height: $sitekickNavbarHeight;
                padding: 0 21px;
                display: inline-block;
                overflow: hidden;
                text-decoration: none;
                white-space: nowrap;
                .icon-dropdown {
                    color: #2eb582;
                    font-size: 16px;
                    line-height: $sitekickNavbarHeight;
                    vertical-align: middle;
                    margin: 0 0 0 5px;
                    display: inline;
                }
                &:hover {
                    background: #252b31;
                }
            }
        }
    }

    #sitekick-navbar-account {
        float: right;
        width: 55%;
        flex-shrink: 0;
        @media (min-width: 768px) {
            width: auto;
        }
        @media (min-width: 1200px) {
            width: auto;
        }
        @media (min-width: 1200px){
            width: auto;
        }

        .float-right {
            float: right;
        }

        // Dropdown
        .dropdown-menu {
            left: auto!important;
            right: 0!important;
        }


        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                float: left;
            }
        }

        .testenv {
            display: none;
            float: left;
            @media (min-width: 1024px) {
                display: block;
            }
            li {
                a {
                    background: #EF0000;
                    color: white;
                    display: block;
                    height: $sitekickNavbarHeight;
                    line-height: $sitekickNavbarHeight;
                    padding: 0 20px;
                }
            }

        }

        #languages-navbar {
            float: left;
            padding: 0 5px;
            border-right: 1px solid #31363c;

            @media (min-width: 767px) {
                padding: 0 15px;
            }

            .account-text {
                display: none;
                @media (min-width: 768px) {
                    display: inline-block;
                }
            }

            .account-text-small {
                display: inline-block;
                @media (min-width: 768px) {
                    display: none;
                }
            }

            .flag-icon {
                width: 25px;
                height: 25px;
                top: -5px;
                margin-right: 5px;
            }

            ul li {
                float: none;
            }
        }

        #profile {
            display: block;
            float: left;
            li {
                float: none;
                a {
                    white-space: nowrap;
                }

                .account-text {
                    display: none;
                    @media (min-width: 1065px) {
                        display: inline-block;
                        max-width: 97px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin-left: 10px;
                    }

                    @media (min-width: 1065px) and (max-width: 1200px) {
                        position: relative;
                        top: 4px;
                    }

                    @media (min-width: 1200px) {
                        overflow: visible;
                        max-width: 100%;
                    }
                }

                .profile-dropdown {
                    height: $sitekickNavbarHeight;
                    padding: 0 10px;
                    line-height: $sitekickNavbarHeight;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    @media (min-width: 767px) {
                        padding: 0 15px;
                    }

                    @media (min-width: 1065px) and (max-width: 1200px) {
                        line-height:  1;
                    }

                    .img-circle {
                        border-radius: 50%;
                        vertical-align: middle;
                        width: 46px !important;
                        height: 46px !important;

                    }
                }
            }
        }
    }


}



/*
.nav .flag-icon.flag-icon-circle {
    width: 25px;
    height: 25px;
    top: -5px;
    margin-right: 5px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.nav > li.disabled > a {
    color: #777777;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #337ab7;
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.nav > li > a > img {
    max-width: none;
}

.nav-tabs {
    border-bottom: 1px solid #dddddd;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.nav-tabs.nav-justified > li {
    float: none;
}

.nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}

.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #dddddd;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
    }

    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}

.nav-pills > li {
    float: left;
}

.nav-pills > li > a {
    border-radius: 4px;
}

.nav-pills > li + li {
    margin-left: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #337ab7;
}

.nav-stacked > li {
    float: none;
}

.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0;
}

.nav-justified {
    width: 100%;
}

.nav-justified > li {
    float: none;
}

.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}

.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

@media (min-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    .nav-justified > li > a {
        margin-bottom: 0;
    }
}

.nav-tabs-justified {
    border-bottom: 0;
}

.nav-tabs-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
    border: 1px solid #dddddd;
}

@media (min-width: 768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
    }

    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}

.tab-content > .tab-pane {
    display: none;
    visibility: hidden;
}

.tab-content > .active {
    display: block;
    visibility: visible;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
}

.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu-left {
    left: 0;
    right: auto;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777777;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }

    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }

    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}

.navbar-collapse.in {
    overflow-y: auto;
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.navbar-brand > img {
    display: block;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle:focus {
    outline: 0;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .navbar-form .form-control-static {
        display: inline-block;
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }

    .navbar-form .input-group .input-group-addon,
    .navbar-form .input-group .input-group-btn,
    .navbar-form .input-group .form-control {
        width: auto;
    }

    .navbar-form .input-group > .form-control {
        width: 100%;
    }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .radio label,
    .navbar-form .checkbox label {
        padding-left: 0;
    }

    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
}

@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }

    .navbar-form .form-group:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: none;
    }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px;
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }

    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #777777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-default .navbar-text {
    color: #777777;
}

.navbar-default .navbar-nav > li > a {
    color: #777777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333333;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #dddddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #dddddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888888;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #e7e7e7;
    color: #555555;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777777;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333333;
        background-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}

.navbar-default .navbar-link {
    color: #777777;
}

.navbar-default .navbar-link:hover {
    color: #333333;
}

.navbar-default .btn-link {
    color: #777777;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #333333;
}

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #cccccc;
}

.navbar-inverse {
    background-color: #222222;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-text {
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: #333333;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #333333;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #101010;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #080808;
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444444;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-link {
    color: #9d9d9d;
}

.navbar-inverse .navbar-link:hover {
    color: #ffffff;
}

.navbar-inverse .btn-link {
    color: #9d9d9d;
}

.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
    color: #ffffff;
}

.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
    color: #444444;
}

#sitekick-navbar .row,
#sitekick-navbar .col-xs-1,
#sitekick-navbar .col-sm-1,
#sitekick-navbar .col-md-1,
#sitekick-navbar .col-lg-1,
#sitekick-navbar .col-xs-2,
#sitekick-navbar .col-sm-2,
#sitekick-navbar .col-md-2,
#sitekick-navbar .col-lg-2,
#sitekick-navbar .col-xs-3,
#sitekick-navbar .col-sm-3,
#sitekick-navbar .col-md-3,
#sitekick-navbar .col-lg-3,
#sitekick-navbar .col-xs-4,
#sitekick-navbar .col-sm-4,
#sitekick-navbar .col-md-4,
#sitekick-navbar .col-lg-4,
#sitekick-navbar .col-xs-5,
#sitekick-navbar .col-sm-5,
#sitekick-navbar .col-md-5,
#sitekick-navbar .col-lg-5,
#sitekick-navbar .col-xs-6,
#sitekick-navbar .col-sm-6,
#sitekick-navbar .col-md-6,
#sitekick-navbar .col-lg-6,
#sitekick-navbar .col-xs-7,
#sitekick-navbar .col-sm-7,
#sitekick-navbar .col-md-7,
#sitekick-navbar .col-lg-7,
#sitekick-navbar .col-xs-8,
#sitekick-navbar .col-sm-8,
#sitekick-navbar .col-md-8,
#sitekick-navbar .col-lg-8,
#sitekick-navbar .col-xs-9,
#sitekick-navbar .col-sm-9,
#sitekick-navbar .col-md-9,
#sitekick-navbar .col-lg-9,
#sitekick-navbar .col-xs-10,
#sitekick-navbar .col-sm-10,
#sitekick-navbar .col-md-10,
#sitekick-navbar .col-lg-10,
#sitekick-navbar .col-xs-11,
#sitekick-navbar .col-sm-11,
#sitekick-navbar .col-md-11,
#sitekick-navbar .col-lg-11,
#sitekick-navbar .col-xs-12,
#sitekick-navbar .col-sm-12,
#sitekick-navbar .col-md-12,
#sitekick-navbar .col-lg-12 {
    margin: 0;
    padding: 0;
}

#sitekick-navbar a {
    transition: ease 0.2s;
    text-decoration: none;
}

#sitekick-navbar .navbar-toggle {
    color: #252b31;
    font-size: 26px;
    text-align: center;
    width: 100%;
    height: $sitekickNavbarHeight;
    margin: 0;
    padding: 20px 0;
    display: block;
    background: #ebebeb;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

@media (max-width: 767px) {
    #sitekick-navbar .navbar-toggle {
        font-size: 32px;
        padding: 19px 0;
    }
}

#sitekick-navbar .logo-container {
    height: $sitekickNavbarHeight;
    text-align: center;
    line-height: $sitekickNavbarHeight;
    border-right: 1px solid #31363c;
    overflow: hidden;
}

#sitekick-navbar .logo-container img {
    text-align: center;
    max-width: 100%;
    height: auto;
    padding: 10px;
}

@media (min-width: 1460px) {
    #sitekick-navbar .logo-area {
        max-width: 12.666667%;
    }
}

#sitekick-navbar .admin-mode {
    font-size: 16px;
    line-height: 55px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sitekick-navbar .admin-mode li {
    width: 50%;
    float: left;
}

@media (min-width: 768px) {
    #sitekick-navbar .admin-mode li {
        width: inherit;
    }
}

#sitekick-navbar .admin-mode li.admin-mode-text {
    padding: 7px 21px;
}

#sitekick-navbar .admin-mode li a {
    color: #848484;
    font-size: 29px;
    text-align: center;
    width: 100%;
    height: $sitekickNavbarHeight;
    padding: 10px 19px;
    display: inline-block;
}

@media (max-width: 767px) {
    #sitekick-navbar .admin-mode li a {
        width: 140%;
    }
}

#sitekick-navbar .admin-mode li a.active,
#sitekick-navbar .admin-mode li a:hover,
#sitekick-navbar .admin-mode li a:focus {
    color: #2eb582;
    text-decoration: none;
    background: #383e43;
}

#sitekick-navbar .options {
    border-left: 1px solid #31363c;
}

#sitekick-navbar .languages,
#sitekick-navbar .help {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    line-height: $sitekickNavbarHeight;
    width: 100%;
    height: $sitekickNavbarHeight;
    margin: 0;
    padding: 0 19px;
    display: block;
    float: left;
    background: #252b31;
    border-right: 1px solid #31363c;
    border-left: 1px solid #31363c;
}

@media (min-width: 768px) {
    #sitekick-navbar .languages,
    #sitekick-navbar .help {
        width: inherit;
    }
}

#sitekick-navbar .languages:hover,
#sitekick-navbar .help:hover {
    text-decoration: none;
}

#sitekick-navbar .languages .icon-language-collapse.icon-dropdown,
#sitekick-navbar .help .icon-language-collapse.icon-dropdown {
    color: white;
}

#sitekick-navbar .languages .icon-help,
#sitekick-navbar .help .icon-help {
    font-size: 29px;
    vertical-align: middle;
}

#sitekick-navbar .languages .text,
#sitekick-navbar .help .text {
    font-weight: bold;
    vertical-align: middle;
    margin-left: 10px;
}

#sitekick-navbar .account-text {
    font-weight: bold;
}

#sitekick-navbar ul.nav {
    font-size: 16px;
}

@media (max-width: 767px) {
    #sitekick-navbar ul.nav {
        margin: 0;
        text-align: center;
    }
}

#sitekick-navbar ul.nav li {
    height: $sitekickNavbarHeight;
}

#sitekick-navbar ul.nav li a {
    height: $sitekickNavbarHeight;
    color: #FFFFFF;
    line-height: $sitekickNavbarHeight;
    padding: 0 21px;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
}

@media (max-width: 767px) {
    #sitekick-navbar ul.nav li a {
        padding: 0px 0px;
    }
}

#sitekick-navbar ul.nav li a:hover {
    color: #FFFFFF;
    background: none;
}

@media (max-width: 767px) {
    #sitekick-navbar ul.nav li a span.icon-dropdown,
    #sitekick-navbar ul.nav li a span.visible-xs {
        display: inline-block !important;
    }
}

#sitekick-navbar ul.nav li a .icon-dropdown {
    color: #2eb582;
    font-size: 16px;
    line-height: $sitekickNavbarHeight;
    vertical-align: middle;
    margin: 0 0 0 5px;
    display: inline;
}

#sitekick-navbar ul.nav li a:hover,
#sitekick-navbar ul.nav li a:focus {
    background: #252b31;
}

#sitekick-navbar ul.nav li.open a {
    background: none;
    border: none;
    text-decoration: none;
}

#sitekick-navbar ul.nav .dropdown-menu {
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #252b31;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
}

@media (max-width: 767px) {
    #sitekick-navbar ul.nav .dropdown-menu {
        float: right;
    }
}

#sitekick-navbar ul.nav .dropdown-menu li {
    height: inherit;
    display: block;
    position: relative;
}

#sitekick-navbar ul.nav .dropdown-menu li a {
    font-size: 15px;
    line-height: inherit;
    height: inherit;
    padding: 12px 21px;
    padding-left: 59px;
    border-top: 1px solid #51555a;
    display: block;
    position: relative;
    text-decoration: none;
}

#sitekick-navbar ul.nav .dropdown-menu li a:hover,
#sitekick-navbar ul.nav .dropdown-menu li a:focus {
    background: #383e43;
}

#sitekick-navbar ul.nav .dropdown-menu li a span {
    color: #2eb582;
    font-size: 24px;
    margin: 11px 21px;
    position: absolute;
    top: 0;
    left: 0;
}

#sitekick-navbar ul.nav .img-circle {
    height: 46px;
    width: 46px;
    margin: 12px 15px 0 0;
    float: left;
    box-shadow: 0px 0px 0px 3px #ebebeb;
    border-radius: 50%;
    display: inline-block;
}

#sitekick-navbar .logo-container img {
    margin: 0;
}

#sitekick-navbar ul.nav.navbar-nav.testenv a, #sitekick-navbar .nav.navbar-nav.testenv a:hover, #sitekick-navbar .nav.navbar-nav.testenv a:focus {
    background-color: #EF0000 !important;
    margin-right: 20px;
}

@media (max-width: 768px) {
    #sitekick-navbar .custom-width-mobile {
        width: 100px;
        float: right;
    }

    #sitekick-navbar .custom-width-mobile.second {
        width: $sitekickNavbarHeight;
    }
}*/