/**
 * Sitekick styling
 * Using Redactor plugin
 * @author sjonic.nl
 */

$primaryColor: #2eb582;
$borderColor: #cccccc;
$textColor: #555555;

html {
    overflow: visible !important;
    padding-right: 0 !important;
}

.sitekick,
#sitekick {

    #redactor-modal-overlay {
        background: rgba(0,0,0,.5);
    }

    #redactor-modal-buttons {
        margin-bottom: 0;
        margin-top: 3rem;
    }

    .redactor-box {
        background: none;
    }

    /* redactor content */
    .redactor-in {
        background: white;
        border: 1px solid $borderColor;
        border-radius: 5px;
        font-size: 1em;
        color: $textColor;
        * {
            color: $textColor;
        }
        a {
            color: inherit;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
            &.button {
                background: $primaryColor;
                padding: 0.5em 0.75em;
                border-radius: 5px;
                color: white;
                text-decoration: none;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    .redactor-toolbar {
        background: none;
        box-shadow: none;
        font-size: 16px;
        display: block !important;
        li {
            a {
                &:hover {
                    background: $primaryColor;
                }
            }
        }
    }

    .redactor-title {
        .redactor-toolbar {
            display: none !important;
        }
        .inline-edit-controls {
            top: -40px;
        }
    }

    .redactor-dropdown li:hover {
        background-color: $primaryColor;
    }

    #redactor-modal-button-action {
        background-color: $primaryColor !important;
        &:hover {
            color: white !important;
            background-color: darken($primaryColor, 10%) !important;
        }
    }

    #redactor-modal-link-insert {
        .row {
            margin-bottom: 5px;
        }
    }

    .redactor-switch {
        margin-left: 0;
        position: relative;
        height: 30px;
        width: 68px;
    }
    .redactor-switch label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: #d4d4d4;
        border-radius: 5px;
        font-weight: bold;
        color: #FFF;
        transition: background 0.3s, text-indent 0.3s;
        line-height: 31px !important;
        font-size: 1rem;
        display: inline-block;
    }
    .redactor-switch label:before {
        content: '';
        width: 36px;
        height: 27px;
        border-radius: 5px;
        background: #FFF;
        position: absolute;
        z-index: 1;
        top: 2px;
        left: 2px;
        display: block;
        transition: left 0.3s;
    }
    .redactor-switch label:after {
        font-family: "proxima-nova", sans-serif;
        content: 'NEE';
        display: block;
        position: absolute;
        width: 36px;
        text-align: center;
        top: 0px;
        left: 2px;
        font-size: 14px;
        color: #fb523f;
        z-index: 2;
        transition: left 0.3s;
    }
    .redactor-switch input:checked + label {
        background: #d4d4d4;
    }
    .redactor-switch input:checked + label:after {
        content: 'JA';
        color: #2eb582;
        left: 28px;
    }
    .redactor-switch input:checked + label:before {
        left: 28px;
    }

    /**
     * Redactor modal
     */
    #redactor-modal {
        font-family: "proxima-nova", sans-serif;
        #redactor-modal-body {
            padding: 20px;
            label {
                padding-top: 7px;
            }
            section {
                padding: 0;
            }
            textarea, select, input {
                font-size: 14px;
            }
        }
    }


    /**
     * Inline edit
     */
    .inline-edit {
        .redactor-toolbar {
            background: white;
            box-shadow: 0px 5px 5px rgba(0,0,0,.15);
        }
        .redactor-toolbar-box {
            position: absolute;
            top: -55px;
            left: 0;
            right: 0
        }
        .redactor-in {
            background: transparent;
            font-family: inherit;
            font-size: inherit;
            padding: 0;
            border: 0;
            color: inherit;
            line-height: inherit;
            * {
                color: inherit !important;
                font-family: inherit;
            }
            .button {
                background: inherit;
                padding: inherit;
                border-radius: inherit;
                color: inherit;
                text-decoration: inherit;
                vertical-align: inherit;
            }
        }
    }



    /**
     * Inline media library
     */
    #media-library-result {
        min-height: 350px;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
    }
    .inline-file-finder {
        margin: 0;

        [class^="col-xs-"] {
            padding-left: 5px;
            padding-right: 5px;
        }

        .thumbnail {
            overflow: hidden;
            margin-top: 5px;
            margin-bottom: 5px;
            display: block;
            border: 2px solid transparent;
            padding-bottom: 100%;
            position: relative;
            &:hover {
                border-color: $primaryColor;
            }
            img {
                position: absolute;
                top: 0; left: 0;
                height: 100%;
            }
        }
        .file {
            padding: 10px;
            margin-bottom: 10px;
            display: block;
            text-align: center;
            background: #edaf36;
            color: white;
            text-decoration: none;
            font-size: 16px;

            .filename {
                display: block;
                white-space: nowrap;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .file-icon {
                display: block;
                background: url('../../img/sitekick/icons/overig.svg') no-repeat center center;
                background-size: contain;
                height: 70px;
            }
            .text-muted {
                color: rgba(255,255,255,.5);
                font-size: 14px;
            }

            &:hover {
                opacity: 0.75;
                text-decoration: none;
            }

            // filetypes
            &.filetype-pdf {
                background: #ed3d36;
                .file-icon {
                    background-image: url('../../img/sitekick/icons/pdf.svg');
                }
            }

            &.filetype-txt,
            &.filetype-rtf,
            &.filetype-docx,
            &.filetype-doc {
                background: #2372ba;
                .file-icon {
                    background-image: url('../../img/sitekick/icons/word.svg');
                }
            }

            &.filetype-rar,
            &.filetype-7zip,
            &.filetype-gzip,
            &.filetype-zip {
                background: #683add;
                .file-icon {
                    background-image: url('../../img/sitekick/icons/zip.svg');
                }
            }

            &.filetype-ppt,
            &.filetype-pptx {
                background: #dd5b26;
                .file-icon {
                    background-image: url('../../img/sitekick/icons/powerpoint.svg');
                }
            }

        }
    }

    .redactor-inline-file-finder-pager {
        padding: 10px 0 0;
        margin-top: 15px;
        border-top: 1px solid rgba(0, 0, 0, .05);
        border-bottom: 1px solid rgba(0, 0, 0, .05);
    }

    .redactor-flex-row {
        display: flex;
        align-items: center;
    }

    .btn-disabled {
        opacity: .25;
    }

    #redactor-file-upload {
        border: 1px solid #ddd;
        display: block;
        flex-grow: 1;
        border-radius: 5px;
        padding: 10px;
        margin-left: 1rem;
    }
}
