.details {
    font-size: 16px;
    color: #676767;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;

    span {
        font-size: 21px;
        color: #444444;
        font-family: "museo-sans", sans-serif;
        font-weight: 100;
    }
}

.revisions-wrapper {
    .container {
        max-width: 100%;
    }
}

#preview {
    margin-bottom: 100px;

    .row {
        display: -webkit-flex;
        display: flex;
        flex-wrap: -webkit-wrap;
        flex-wrap: wrap;
        margin-bottom: 30px;

        &.block {
            padding: 30px 15px;
            background: #EEE;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        &.block-heading {
            background: transparent;
            padding: 20px 0px;
            margin: 0px;
        }

        .col {

            .heading {
                h2 {
                    font-size: 28px;
                    padding: 0px;
                    margin: 0px;
                }
            }

            img {
                float: left;
                width: 100%;
                -webkit-border-radius: 5px;
                border-radius: 5px;
            }

            .item-linking-preview {
                span {
                    display: inline-block;
                    color: #fff;
                    background: #2eb582;
                    border: none;
                    border-radius: 3px;
                    transition: background-color .3s ease;
                    padding: 10px 15px;
                    font-size: 1em;
                }
            }

            .thumbnails {
                img {
                    width: -webkit-calc(50% - 10px);
                    width: calc(50% - 10px);
                    margin: 0px 10px 10px 0px;
                }
            }

            .block-images {
                margin-bottom: 16px;
            }

            .block {
                padding: 20px;
                background: #FFF;
                height: 100%;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                border: 1px solid #dadada;

                h1, h2 {
                    font-size: 24px;
                    padding: 0px 0px 10px 0px;
                    margin: 0px;
                }

                h3 {
                    font-size: 21px;
                    padding: 0px 0px 10px 0px;
                    margin: 0px;
                }

                &._header {

                    .content {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translateX(-50%) translateY(-50%);
                        transform: translateX(-50%) translateY(-50%);
                        padding: 15px;
                        z-index: 2;
                        background: rgba(0, 0, 0, 0.5);

                        h1, h2 {
                            font-size: 28px;
                            padding: 0px 0px 10px 0px;
                            margin: 0px;
                        }

                        p {
                            font-size: 16px;
                            padding: 0px;
                        }

                        * {
                            color: #FFF;
                        }

                    }

                    img {
                        position: relative;
                    }
                }

                img {
                    width: 100%;
                    height: auto;

                    &.thumb {
                        float: left;
                        width: -webkit-calc(25% - 10px);
                        width: calc(25% - 10px);
                        margin: 0px 10px 10px 0px;
                    }
                }
            }
        }
    }
}

.bottom-fixed {
    position: fixed;
    background: #FFF;
    width: 100%;
    height: 80px;
    left: 0;
    bottom: 0;
    z-index: 2;
    padding-left: 210px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05), 0px -5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05), 0px -5px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;

    .execute {
        margin-right: 15px;
    }

    .ajax-loading {
        display: none;
        margin: 0 15px 0 0;

        &.load {
            display: inline-block;
        }
    }
}

.fullscreen .bottom-fixed {
    padding-left: 0;
}