$black: #252B31;
$green: #2EB582;
.buttons {
    margin-bottom: 10px;
    .btn {
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: $black;
        &:hover,
        &.btn-active {
            background-color: $green;
        }
    }
}
