.sk-multiple-select {
	float: left;
	position: relative;
	width: 100%;
	min-height: 40px;
	padding: 5px 5px 0px 5px;
	border: 1px solid #CCC;
	background: #FFF;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;	

	&.errorField {
		border: 1px solid #fb523f !important;
	}

	.selected-options {
		float: left;
		
		div {
			float: left;
			position: relative;
			padding: 5px 25px 5px 7px;
			margin: 0px 5px 5px 0px;
			background: #2eb582;
			color: #FFF;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			
			i {
				position: absolute;
				top: 50%;
				right: 7px;
				margin-top: -7px;
				width: 14px;
				height: 14px;
				background: url('../../img/sitekick/sk-close.svg');
				background-size: 14px 14px;
				cursor: pointer;
			}
		}
	}
	
	input {
		float: left;
		height: 36px;
		width: 120px;
		border: 0px;
	}

	ul {	
		display: none;
		width: calc(100% + 2px);
		position: absolute;
		list-style: none;
		padding: 0px;
		margin: 0px;
		left: -1px;
		background: #FFF;
		border: 1px solid #CCC;
		box-sizing: border-box;
		z-index: 999;
		li {
			float: left;
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			
			&:hover:not(.empty):not(.no-results) {
				background: #2eb582;
				color: #FFF;
				cursor: pointer;
			}
			
			&.disable, &.no-match {
				display: none;
			}
		}
	}

	.sk-arrow {
		position: absolute;
		width: 14px;
		height: 14px;
		background: url('../../img/sitekick/sk-arrow.svg');
		background-size: 14px 14px;
		top: 14px;
		right: 10px;
		cursor: pointer;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		z-index: 999;
		&.expand {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}

	textarea {
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}
}