.slider-frame {
	float: left;
	position: relative;
	width: 66px;
	height: 31px;
	background: #d4d4d4;
	padding: 2px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slider-frame.small {
	width: 51px;
	height: 26px;
	box-sizing: initial;
}

.slider-button {
	position: absolute;
	height: 27px;
	width: 36px;
	background: #FFFFFF;
	padding: 0px 5px;
	border-radius: 5px;
	line-height: 27px;
	text-align: center;
	font-family: "proxima-nova", sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	left: 2px;
	cursor: pointer;
	color: #2eb582;
}

.slider-frame.small .slider-button {
	height: 28px;
	width: 32px;
	line-height: 28px;
	font-size: 12px;
	padding: 0px;
	top: 1px;
	left: 1px;
}

.slider-button.off {
	left: 28px;
	color: #fb523f;
}

.slider-frame.small .slider-button.off {
	left: 22px;
	color: #fb523f;
}
