$green: #2eb582;
$black: #555;

body {
    margin: 0;
    padding: 20px;
    color: $black;
    font: 16px/24px "Trebuchet MS","Helvetica Neue",Helvetica,Tahoma,sans-serif;

    a {
        color: $black;
        &:hover {
            text-decoration: none;
        }
    }

    h1,h2,h3,h4,h5 {
        margin-top: 0;
        line-height: 1.25em;
    }

    p:first-child {
        margin-top: 0;
    }

    .button {
        background: $green !important;
        padding: 0.5em 0.75em;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid transparent;
        &[data-mce-selected="inline-boundary"] {
            border: 1px dashed #ffffff;
        }
    }
}