body{margin:0;padding:20px;color:#555;font:16px/24px "Trebuchet MS","Helvetica Neue",Helvetica,Tahoma,sans-serif}body a{color:#555}body a:hover{text-decoration:none}body h1,body h2,body h3,body h4,body h5{margin-top:0;line-height:1.25em}body p:first-child{margin-top:0}body .button{background:#2eb582 !important;padding:.5em .75em;border-radius:5px;color:#fff;text-decoration:none;display:inline-block;vertical-align:middle;border:1px solid transparent}body .button[data-mce-selected=inline-boundary]{border:1px dashed #fff}/*# sourceMappingURL=tinymce-content.css.map */
