$green: #2eb582;
$black: #555;
.sitekick {
    .redactor {
        width: 100%;
    }
    .mce-tinymce {
        box-shadow: none;
        background: transparent;
        border: 0;

        .mce-top-part {
            box-shadow: none;
            background: transparent;
            border: 0;
            &::before {
                -webkit-box-shadow: none;
                box-shadow: none;

            }
            .mce-panel {
                background: transparent;
            }

            .mce-toolbar .mce-btn-group {
                padding: 0;
            }

            .mce-btn {
                background-color: transparent;
                border: 0;
                margin: 0;

                button {
                    background-color: transparent;
                    padding: 10px;
                    &:hover {
                        background-color: $green;
                        color: white;

                        .mce-caret {
                            border-top-color: #ffffff;
                        }
                        .mce-ico {
                            color: white;
                        }
                    }
                }
            }

            .mce-btn.mce-active button,
            .mce-btn.mce-active:hover button,
            .mce-btn.mce-active i,
            .mce-btn.mce-active:hover i {
                color: $black !important;
            }

            .mce-toolbar-grp {
                box-shadow: none;
                border: 0;
            }
        }

        .mce-edit-area {
            border: 1px solid #ccc !important;
            border-radius: 5px;
            background: white;
            overflow: hidden;
            iframe {
                border: 0;
                border-radius: 5px;
            }
        }

        .mce-statusbar {
            background: transparent;
            border: 0;
            .mce-branding {
                display: none;
            }
        }

    }

    .mce-btn {
        border-radius: 5px;
        transition: all .3s ease;
        button {
            padding: 4px 15px;
        }
    }
    .mce-combobox .mce-btn {
        border-radius: 0;
    }
    .mce-primary {
        background-color: $green !important;
        &:hover {
            background-color: $black !important;;
        }
    }
    .mce-primary.mce-active,
    .mce-primary.mce-active:hover,
    .mce-primary:not(.mce-disabled):active {
        background-color: darken($green, 10%);
    }

    .redactor-inline.mce-content-body {
        border: 2px dashed #cecece;
    }

    // Window (popup)
    .mce-window {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: none;

        @media screen and (max-width: 767px) {
            width: 95% !important;
            left: 0 !important;
            right: 0;
            margin: 0 auto;
        }

        // Set border color
        * {
            border-color: #e5e5e5 !important;

            .mce-caret {
                border-right: 4px solid transparent !important;
                border-left: 4px solid transparent !important;
            }
        }

        // Input fields
        input {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            font-size: 16px;
            color: #555555;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            outline: 0;
            box-shadow: 0 0 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            @media screen and (max-width: 767px) {
                width: 100%;
                min-width: 30px;
            }
        }

        .mce-checkbox {
            @media screen and (max-width: 767px) {
                max-width: 100px;
                text-overflow: ellipsis;
            }
        }

        // Body
        .mce-container-body {

            @media screen and (max-width: 767px) {
                width: 100% !important;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
            }
        }

        // Combobox
        .mce-combobox {

            // Input
            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            // Button
            .mce-btn, button {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;

                &:hover {
                    background-color: $green;
                    border-color: $green !important;

                    * {
                        color: #fff;
                    }
                }
            }
        }

        // Reset
        .mce-reset {
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }

        // Footer
        .mce-foot {
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;

            // Button
            .mce-btn {
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }

                &.mce-primary {
                    border: none;

                    &:hover {
                        background-color: #208a62;

                        * {
                            color: #fff;
                            border-color: #208a62;
                        }
                    }
                }
                button {
                    padding: 10px 15px;
                }
            }
        }

        // Head
        .mce-window-head {
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;

            // Title
            .mce-title {
                font-weight: 300;
            }
        }
    }

    .mce-menu {
        //border-top-right-radius: 4px;
        //border-top-left-radius: 4px;
        border-radius: 4px;
        padding: 0;
        margin-top: 5px;
        border: none;

        .mce-menu-item .mce-text {
            //padding: 10px 15px!important;
            //display: inline-block;
        }
    }

    .mce-btn.mce-active, .mce-btn.mce-active:hover, .mce-btn.mce-active:focus, .mce-btn.mce-active:active {
        background-color: $green;
    }
    .mce-menu-item.mce-active.mce-menu-item-normal {
        background-color: $green;
    }

}