#updatesModal {

    &._loading {

        &:before {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            background: url('../../img/sitekick/loading-white.svg');
            background-size: 32px 32px;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
        }

        .modal-dialog {
            visibility: hidden;
            opacity: 0;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

    }

    .modal-dialog {
        visibility: visible;
        opacity: 1;

        @media (min-width: 768px) {
            margin: 30px auto;
        }

        &.modal-lg {
            @media (min-width: 1200px) {
                width: 990px;
            }
        }

        .modal-content {
            .modal-body {
                padding: 20px;

                @media (min-width: 992px) {
                    padding: 50px;
                }

                * {
                    outline: none;
                }

                #updatemessages {

                    .message {
                        background: none;
                        border: 0;
                        padding: 0;
                        .well {
                            border-style: solid;
                            border-width: 1px;
                            border-color: #ebebeb;
                            border-radius: 5px;
                            background-color: #f3f3f3;
                            padding: 30px;
                            text-align: center;

                            .icon-update {
                                display: inline-block;
                                background-image: url('../../img/sitekick/icons/icon-update.svg');
                                background-size: 42px 42px;
                                width: 42px;
                                height: 42px;
                                margin-bottom: 20px;
                            }
                            h3 {
                                font-size: 24px;

                                @media (min-width: 480px) {
                                    font-size: 36px;
                                }
                            }

                            .date {
                                font-size: 18px;
                                font-family: 'proxima-nova', sans-serif;
                                color: #b5b5b5;
                            }
                        }
                        .content {
                            padding: 20px;

                            @media (min-width: 992px) {
                                padding: 50px;
                            }

                            h1 {
                                font-size: 27px;
                                padding: 0 0 10px 0;
                                margin: 0;
                            }

                            p {
                                font-size: 18px;
                                font-family: 'proxima-nova', sans-serif;
                                line-height: 1.669;
                                color: #676767;
                            }
                            ol,
                            ul {
                                font-size: 18px;
                                font-family: 'proxima-nova', sans-serif;
                                line-height: 1.669;
                                color: #676767;
                            }

                        }
                    }
                }
                .buttons {
                    padding: 60px 0 0 20px;

                    @media (min-width: 992px) {
                        padding: 0 0 0 50px;
                    }

                    button {
                        font-size: 18px;
                        font-family: "museo-sans", sans-serif;
                        font-weight: normal;

                        &.ok {
                            color: #FFF;
                            background-image: url('../../img/sitekick/icons/icon-checked.svg');
                            background-position: center left 22px;
                            padding: 14px 30px 13px 60px;
                            background-color: #2eb582;
                            -khtml-border-radius: 4px;
                            border-radius: 4px;
                            margin-right: 20px;
                            margin-bottom: 10px;
                            background-repeat: no-repeat;
                            background-size: 18px 15px;
                            -webkit-transition: all 300ms;
                            -moz-transition: all 300ms;
                            -ms-transition: all 300ms;
                            -o-transition: all 300ms;
                            transition: all 300ms;

                            @media (min-width: 480px) {
                                margin-bottom: 0;
                            }

                            &:hover {
                                background-color: #208a62;
                            }
                        }
                    }

                    .skip {
                        display: inline-block;
                        color: #676767;
                        text-decoration: none;
                        font-size: 17px;
                        line-height: 1;
                        font-family: "museo-sans", sans-serif;
                        border-bottom: 1px solid #676767;
                        padding-bottom: 1px;
                        margin-top: 1px;

                        &:hover {
                            color: #2eb582;
                            border-color: #2eb582;
                        }
                    }
                }
            }
        }
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .slick-prev {
        position: absolute;
        left: -70px;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
        width: 15px;
        height: 13px;
        background: url('../../img/sitekick/icons/icon-arrow-previous.svg');
        background-size: 15px 13px;
        border: 0px;
        text-indent: -999999px;
    }

    .slick-next {
        position: absolute;
        right: 0;
        bottom: -39px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 15px;
        height: 13px;
        background: url("../../img/sitekick/icons/icon-arrow-next.svg");
        background-size: 15px 13px;
        border: 0px;
        text-indent: -999999px;

        @media (min-width: 992px) {
            right: 50px;
        }
    }

    .slick-dots {
        position: absolute;
        right: 20px;
        bottom: -50px;

        @media (min-width: 992px) {
            right: 70px;
        }

        li {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin: 0px 5px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: 1px solid rgba(135, 135, 135, 0.3);
            text-indent: -999999px;
            background-color: #f3f3f3;
            cursor: pointer;

            &.slick-active {
                background: #2eb582;
            }

            &:only-child {
                display: none;
            }
        }
    }
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}