/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
BASIC
-*/

body {
	color: #444444;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a { color: #c42c33; }
a:hover { color: #c42c33; }


/*FONTS*/


    @font-face {
        font-family: 'alphamack_aoeregular';
        src: url('font/alphamacaoe-webfont.eot');
        src: url('font/alphamacaoe-webfont.eot?#iefix') format('embedded-opentype'),
             url('font/alphamacaoe-webfont.woff2') format('woff2'),
             url('font/alphamacaoe-webfont.woff') format('woff'),
             url('font/alphamacaoe-webfont.ttf') format('truetype'),
             url('font/alphamacaoe-webfont.svg#alphamack_aoeregular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    h1,h2,h3,h4,h5,h6 {
        font-weight: 300;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    
    p {
        font-size: #4d4d4d;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 40px;
    }

    h1 {
        font-weight: 900;
        font-size: 48px;
        line-height: 50px;
        margin-bottom: 30px;
        color: #FFF;
    }

    h2 {
        font-weight: 300;
        font-size: 45px;
        line-height: 48px;
        margin-bottom: 30px;
        color: #c42c33;
    }

    h3 {
        font-weight: 300;
        font-size: 28px;
        line-height: 28px;
		margin-bottom: 30px;
        color: #c42c33;
    }


/* SMALL DESKTOPS */
@media (max-width: 992px) {
    
	h1 {font-size: 48px; line-height: 48px;}
	h2 {font-size: 26px;line-height: 30px;}

}

@media (max-width: 768px) {
		
	h1 {font-size: 40px; line-height: 48px;}
	h2 {font-size: 24px; line-height: 28px;}

}

/*CURVES*/

.curves-grey {
    background: url(../img/curves-grey.svg) no-repeat center bottom; 
    background-size: 100%;
    height: 14px;
    width: 118px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.curves-red {
    background: url(../img/curves-red.svg) no-repeat center bottom; 
    background-size: 100%;
    height: 16px;
    width: 155px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}




/*BUTTONS*/

.button {
    border: 2px solid #FFF;
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px;
    padding: 7px 20px;
    font-weight: bold;
    margin-top: 20px;
}

a.button-white { color: #FFF!important; }

.button:hover {
    border: 2px solid #FFF;
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px;
    padding: 7px 20px;
    font-weight: bold;
    background: #FFF;
    color: #c42c33!important;
    text-decoration: none;
}



/*----------------------------------
-------------- SECTION -------------
----------------------------------*/

section { padding: 40px 0px; }
.section-no-padding { padding: 0px 0px; }


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ELEMENTEN
-*/

/*--------------------------------------------------------------------------------------
----------------------------------- TOP ---------------------------------------------
--------------------------------------------------------------------------------------*/

.navbar_top { 
	background: #ebebeb;
	height: 48px;
	margin-bottom: 0px;
}

	ul#navbar_top { margin-top: 13px; float: right; }
	ul#navbar_top li { float: left; font-size: 14px; margin-left: 40px; }
	ul#navbar_top li a { color: #404040; }
	
	

/*--------------------------------------------------------------------------------------
----------------------------------- NAV 1 ---------------------------------------------
--------------------------------------------------------------------------------------*/

.navbar { 
	margin-bottom: 0px; 
	height: 114px;
	background: #FFF;
	border-bottom: 0px;
}

.navbar-nav > li > a {
	line-height: 80px;
}

/*--------------------------------------------------------------------------------------
----------------------------------- ALGMEEN ---------------------------------------------
--------------------------------------------------------------------------------------*/

html, body {
	height: 100%;
    
}

#container {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	transition: all 0.3s ease;
}

.header-container { position: relative;}

header {
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../img/header.jpg') center;
	background-size: cover;
	margin: 0px;
	top: 0px;
	color: #FFF;
    z-index: 1;
}


    .header-block {
        text-align: center;
        background: #c42c33;
        padding: 30px 100px 60px 100px;
        width: 70%;
        margin: 0 auto;
        color: #FFF!important; 
        margin-top: 280px;
    }

        .label-jubileum {
            background: url(../img/label-20-jaar.png) no-repeat center top;
            margin: 0 auto;
            width: 97px;
            height: 122px;
            margin-top: -70px;
        }

            .header-block .button { margin-right: 10px; }

    .header-bottom { width: 70%; background: #FFF; height: 90px; margin: 0 auto; margin-top: 120px;  }
    .header-top { width: 70%; background: #FFF; height: 90px; margin: 0 auto; margin-top: -170px;   }


/*--------------------------------------------------------------------------------------
------------------------------------- INTRO --------------------------------------------
--------------------------------------------------------------------------------------*/

main { z-index:2; position: relative;}

.intro { padding: 80px 0px 140px 0px; background: url(../img/bg_intro.jpg) no-repeat bottom center;  }
.intro h2 { margin-bottom: 30px; }
.intro h3 { margin-top: 15px; margin-bottom: 20px; }
.intro .container { margin-top: -10px; }

#colum-with-space { background: #e8c30a; }
.nopadding p { padding-right: 20px; }
.colums img { width: 100%; margin-bottom: 20px;  }

ul#specialist li { 
	background: url(../img/icon_check.svg) no-repeat left center; 
	padding-left: 30px; 
	background-size: 23px 16px; 
}

.homepage_blocks .col-sm-6 .col-xs-12 { padding: 0; }



.category {
    position: relative;
    padding: 0px;
    margin: 0px;
    background: #2e1748;
    
    .img-wrap {
        float: left;
        position: relative;
        width: 100%;
        overflow: hidden;
        
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(46,23,72, 0.8);
            opacity: 0;
            z-index: 9;
            text-align: center;
            transition: all 0.3s ease;
            
            h4 {
                margin: 40% 0px 20px 0px;
                color: #FFFFFF !important;
            }
        }
        
        &:hover {
            .overlay {
                opacity: 1;
            }
            
            .caption {
                opacity: 0;
            }
        }        
        
        .caption {
            position: absolute;
            width: 100%;
            height: 50px;
            background: rgba(0,0,0,0.5);
            bottom: 0px;
            text-align: center;
            color: #FFFFFF;
            line-height: 50px;
            opacity: 1;
            transition: all 0.3s ease;
        }
            
        img {
            float: left;
            width: 100%;
            margin: 0px !important;
            opacity: 1;
        }            
        
    }
}







/*--------------------------------------------------------------------------------------
------------------------------------- RENOVATION ---------------------------------------
--------------------------------------------------------------------------------------*/

.renovation {
	background: #c42c33;
	color: #FFF!important;
	padding: 80px 0px 100px 0px;	
}

.renovation p, .renovation h3  { color: #FFF; }
.col-renovation img { width: 80%; }

/*--------------------------------------------------------------------------------------
------------------------------------- QUOTE ---------------------------------------
--------------------------------------------------------------------------------------*/

.quote-container { background: url(../img/bg_quote.jpg) no-repeat left bottom; margin-top: -90px; padding: 40px 0px 0px 0px!important; }
#quote { font-size: 22px; padding: 200px 100px 0px 0px; }
.quote .col-sm-8 { padding-right: 50px; }
.sign { font-family: 'alphamack_aoeregular'; font-size: 55px; color: #c42c33; padding-left: 50px; }



/*--------------------------------------------------------------------------------------
------------------------------------- BEZOEK -------------------------------------------
--------------------------------------------------------------------------------------*/

.bezoek-container {
	background: url(../img/bezoek-pand.jpg) no-repeat center top;
	background-size: 100% 100%;
	height: 650px;

}

.bezoek-block {
    text-align: center;
    background: #c42c33;
    padding: 30px 100px 60px 100px;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    color: #FFF!important;    
}

.bezoek-block h2  { color: #FFF; }

    @media (max-width: 768px) {
        .bezoek-block {
            padding: 30px 30px;
        }
    }

/*--------------------------------------------------------------------------------------
------------------------------------- FOOTER -------------------------------------------
--------------------------------------------------------------------------------------*/

.footer { background: #e4e4e4; }
.footer-block { text-align: center; }
ul#social li { display: inline; margin-right: 10px;}
ul#social img { width: 46px; height: 46px; }

.seo-pages {  text-align: center; font-size: 16px; }
.seo-pages a { color: #b7b7b7; }
.seo-pages ul li { display: inline; border-right: 1px solid #b7b7b7; padding: 0px 10px; }






































