body {
  color: #413c3c;
  font-size: 14px;
  line-height: 1.55;
  font-family: 'Roboto', sans-serif;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #f89728;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}
a:hover {
  color: #de8621;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5d5454;
  font-size: 43px;
  font-weight: 300;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 45px;
  margin: 0;
  display: block;
  position: relative;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 28px;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.font-xlarge {
  font-size: 65px;
  line-height: 80px;
}
.font-large {
  font-size: 52px;
  line-height: 58px;
}
.font-medium {
  font-size: 35px;
  line-height: 45px;
}
.font-regular {
  font-size: 28px;
  line-height: 28px;
}
.font-rsmall {
  font-size: 23px;
  line-height: 38px;
}
.font-small {
  font-size: 21px;
  line-height: 21px;
}
/* Small desktops */
@media (max-width: 992px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 33px;
    /*		line-height: 37px;*/
    line-height: 56px;
  }
  h1:after {
    display: none;
  }
  .font-xlarge {
    font-size: 46px;
    line-height: 50px;
  }
  .font-large {
    font-size: 32px;
    font-size: 34px;
  }
  .font-medium {
    font-size: 26px;
    line-height: 30px;
  }
  .font-regular {
    font-size: 28px;
    line-height: 32px;
  }
  .font-rsmall {
    font-size: 21px;
    line-height: 33px;
  }
  .font-small {
    font-size: 17px;
    line-height: 21px;
  }
}
/* Mobile & Tablets */
@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 28px;
    line-height: 32px;
  }
  h1:after {
    display: none;
  }
  .font-xlarge {
    font-size: 34px;
    line-height: 36px;
  }
  .font-large {
    font-size: 30px;
    font-size: 32px;
  }
  .font-medium {
    font-size: 24px;
    line-height: 28px;
  }
  .font-regular {
    font-size: 22px;
    line-height: 26px;
  }
  .font-rsmall {
    font-size: 20px;
    line-height: 30px;
  }
  .font-small {
    font-size: 18px;
    line-height: 22px;
  }
}
/* Form styling */
.input-group {
  margin: 40px 0 0 0;
}
label {
  color: #5d5454;
  display: block;
  margin-bottom: 5px;
}
input,
textarea {
  width: 100%;
  padding: 14px 10px;
  border: 0;
  background: #E9E9E8;
}
/*
input[type=submit] {
	width: inherit;
	color: #FFFFFF;
	font-size: 25px;
	padding: 15px 30px;
	display: inline-block;
	background: #f89728;	
	border-radius: 3px;
}
*/
textarea {
  min-height: 150px;
  resize: vertical;
}
textarea:focus,
input:focus {
  outline: none;
}
.button,
input[type=submit] {
  width: inherit;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 30px;
  border: 0px;
  display: inline-block;
  background: #f89728;
  border-radius: 3px;
  cursor: pointer;
}
.button:hover,
input[type=submit]:hover {
  color: #FFFFFF;
  background: #e58920;
}
.buttons-row {
  font-size: 0;
  margin-bottom: 20px;
}
.buttons-row .button {
  width: 33%;
  display: inline-block;
  padding: 15px 5px;
  font-size: 16px;
  border-radius: 0;
}
.buttons-row .button-first {
  border-radius: 3px 0 0 3px;
  border-right: 1px solid #e58920;
}
.buttons-row .button-second {
  border-radius: 0 3px 3px 0;
  border-left: 1px solid #e58920;
}
@media (max-width: 768px) {
  .input-group {
    margin: 20px 0 0 0;
  }
  .button,
  input[type=submit] {
    padding: 10px 30px;
  }
}
#contactform .input-group {
  width: 480px;
  margin-top: 15px;
}
#contactform .input-group label {
  font-size: 16px;
}
#contactform .input-group .form-control {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  width: 100%;
  height: inherit;
  padding: 14px 10px;
  background: #E9E9E8;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0;
}
#contactform .input-group .form-control:focus {
  outline: 0;
  box-shadow: 0 0 0;
}
#contactform .btn,
#contactform input[type=submit] {
  color: #FFFFFF;
  font-size: 21px;
  width: inherit;
  text-align: center;
  margin-top: 15px;
  padding: 10px 20px;
  border: 0px;
  display: inline-block;
  background: #f89728;
  border-radius: 3px;
  cursor: pointer;
}
#contactform .btn:hover,
#contactform input[type=submit]:hover {
  color: #FFFFFF;
  background: #e58920;
}
/* Header & Navigation */
/* Header & Navigation */
.header {
  width: 100%;
  height: 80px;
  margin: 35px auto;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 10;
}
.header .container {
  height: 80px;
}
.header #logo {
  position: relative;
}
.header #logo img {
  height: 80px;
  left: 0;
  position: absolute;
}
.header #logo #logo-s {
  padding: 1%;
}
.header nav.main {
  font-size: 16px;
  font-weight: 400;
  float: right;
  position: relative;
  top: 31%;
  opacity: 1;
  z-index: 15;
}
.header nav.main ul li {
  display: inline-block;
  position: relative;
}
.header nav.main ul li a {
  color: #FFFFFF;
  padding: 7px 15px 9px 15px;
  border-radius: 3px;
  white-space: nowrap;
}
.header nav.main ul li a:after {
  content: '\f107';
  font-family: fontawesome;
  margin: 0 0 0 5px;
  font-size: 19px;
  vertical-align: middle;
}
.header nav.main ul li > a:only-child:after {
  content: '';
}
.header nav.main ul li:hover a {
  text-decoration: none;
  background: #332d2d;
  background: rgba(0, 0, 0, 0.3);
}
/* Submenu */
.header nav.main ul li:hover ul {
  display: block;
}
.header nav.main ul li ul {
  display: block;
  min-width: 150px;
  left: 0;
  top: 29px;
  position: absolute;
  display: none;
  padding-top: 3px;
  z-index: 10;
}
.header nav.main ul li ul li a {
  min-width: 150px;
  margin: 5px 0 0 0;
  padding: 7px 15px 7px 15px;
  display: block;
}
.header nav.main ul li ul li a:hover,
.header.fixed nav.main ul li:hover ul li a:hover {
  background: #f89728;
}
.header nav.main ul li a.active {
  background: #332d2d;
  background: rgba(0, 0, 0, 0.3);
}
.header.fixed nav.main ul li a.active,
.header.absolute-fixed nav.main ul li a.active {
  background: #5d5454;
  color: #fff;
}
/* Header & Navigation transition */
.header.fixed {
  position: fixed;
  -webkit-box-shadow: 0px 1px 1px rgba(2, 3, 3, 0.46);
  box-shadow: 0px 1px 1px rgba(2, 3, 3, 0.46);
  -webkit-animation: headerFixed 0.3s linear forwards;
  animation: headerFixed 0.3s linear forwards;
}
.header.fixed nav.main ul li a {
  color: #5d5454;
}
.header.fixed nav.main ul li:hover a,
.header.fixed nav.main ul li:hover ul li a {
  background: #5d5454;
  color: #fff;
}
.header.fixed #logo img {
  height: 60px;
  margin-top: 10px;
}
.header.fixed #logo #logo-s {
  padding: 0.7%;
}
/* Mobile navigation */
.header .menu-trigger,
.header .menu-trigger-label {
  display: none;
}
/* Absolute fixed */
.header.absolute-fixed {
  position: inherit;
  top: 0;
  left: 0;
  margin: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  -webkit-animation: none;
  animation: none;
}
@media (max-width: 992px) {
  .header {
    margin: 0 auto;
  }
  .header #logo img {
    height: 50px;
    margin-top: 15px;
  }
  .header #logo #logo-s,
  .header.fixed #logo #logo-s {
    padding: 0.7%;
  }
  .header .menu-trigger {
    color: #FFFFFF;
    font-size: 21px;
    display: inline-block;
    cursor: pointer;
    float: right;
    z-index: 5;
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .header .menu-trigger span {
    font-size: 14px;
    font-family: verdana;
    margin-right: 8px;
  }
  .header .menu-trigger i {
    vertical-align: middle;
  }
  .header.fixed {
    margin: 35px auto;
    background: #FFFFFF;
  }
  .header.open {
    background: #FFFFFF;
  }
  .header.open .menu-trigger,
  .header.fixed .menu-trigger {
    color: #5d5454;
  }
  .header.fixed nav.main ul li a:hover,
  .header.fixed nav.main ul li:hover ul li a,
  .header nav.main ul li:hover a {
    background: none;
    color: #5d5454;
  }
  .header.open nav.main {
    display: block;
    height: 100%;
  }
  .header nav.main {
    height: 0px;
    overflow: hidden;
    color: #5d5454;
    width: 100%;
    background: #FFFFFF;
    position: fixed;
    left: 0;
    top: 80px;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    z-index: 5;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(2, 3, 3, 0.3);
    box-shadow: 0px 4px 6px 0px rgba(2, 3, 3, 0.3);
  }
  .header nav.main ul {
    width: 100%;
  }
  .header nav.main ul li {
    width: 100%;
  }
  .header nav.main ul li a {
    color: #5d5454;
    display: block;
    padding: 5px 15px 7px 15px;
    border-bottom: 1px solid #E9E7E2;
    border-radius: 0;
  }
  .header nav.main ul li ul {
    display: block;
    position: initial;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    padding-top: 0px;
  }
  .header nav.main ul li ul li a {
    padding: 5px 15px 7px 45px;
  }
  .header.absolute-fixed nav.main ul li ul li a:hover,
  .header.fixed nav.main ul li:hover a,
  .header.fixed nav.main ul li:hover ul li a {
    background: none;
    color: inherit;
  }
}
@media (max-width: 768px) {
  .header {
    height: 70px;
  }
  .header nav.main {
    top: 70px;
  }
  .header .menu-trigger {
    top: 41%;
  }
  .header.absolute-fixed {
    margin: 0 auto;
  }
  .header.fixed #logo img {
    height: 50px;
  }
  .header #logo #logo-s,
  .header.fixed #logo #logo-s {
    padding: 2%;
  }
}
/* Coverphoto */
.background-cover {
  height: 650px;
  height: 85vh;
  color: #FFFFFF;
  background: #000000;
  position: relative;
}
.background-cover .background {
  opacity: 0.55;
  background: url('../img/header.jpg') no-repeat fixed;
  background-position: 50% 0;
  -webkit-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.background-cover .content {
  word-break: break-word;
  word-wrap: break-word;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}
.background-cover h1 {
  color: #FFFFFF;
  margin: 80px 0 5% 0;
}
.background-cover h1:after {
  display: none;
}
.background-cover .button {
  max-width: 220px;
  line-height: 35px;
}
@media (max-width: 768px) {
  .background-cover .background {
    background: url('../img/header.jpg') no-repeat;
  }
  .background-cover .button {
    margin-top: 20px;
  }
}
/* Global section styles */
section {
  padding-top: 40px;
}
section:last-of-type {
  padding-bottom: 50px;
}
section h1 {
  margin: 0 0 60px 0;
  display: block;
}
section h1 span {
  padding-right: 30px;
  position: relative;
  background: #FFFFFF;
  z-index: 2;
}
section img.media-image {
  max-width: 100%;
  height: auto;
}
section iframe {
  max-width: 100%!important;
}
.section-header {
  padding: 70px 0;
  background: #f89728;
}
.section-header h1 {
  color: #FFFFFF;
}
.section-header h1:after {
  display: none;
}
.section-header h1 span {
  /*	background: #f89728;*/
}
@media (max-width: 992px) {
  section {
    padding: 55px 0;
  }
  section h1 {
    margin: 0 0 40px 0;
    display: block;
  }
}
@media (max-width: 768px) {
  section {
    padding: 30px 0;
  }
  section h1 {
    margin: 0 0 20px 0;
    display: block;
  }
  .section-header {
    padding: 30px 0;
  }
}
nav.horizontal a {
  color: #5d5454;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto Slab', sans-serif;
  margin: 0 15px 20px 0;
  display: inline-block;
}
nav.horizontal a:hover {
  color: #2a2525;
}
nav.horizontal a.active {
  color: #f89728;
}
/* Vertical contenet styles */
.horizontal-content section {
  padding: 0;
  display: none;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}
.horizontal-content section.active {
  display: block;
}
/* Salepoints section styles */
.salespoints {
  margin-top: 40px;
}
.salespoints .salespoint {
  margin-bottom: 40px;
}
.salespoints h2 {
  margin-top: 10px;
}
.salespoints p {
  text-align: justify;
}
.salespoints .icon-large {
  color: #f89728;
  font-size: 116px;
}
@media (max-width: 1024px) {
  .salespoints h2 {
    word-break: break-word;
    word-wrap: break-word;
  }
  .salespoints .icon-large {
    font-size: 90px;
  }
}
@media (max-width: 768px) {
  .salespoints p {
    text-align: left;
  }
  .salespoints .icon-large {
    font-size: 73px;
    font-size: 23vw;
    margin-top: 10px;
  }
}
/* quotesSlider section */
.quotesSlider {
  color: #FFFFFF;
  font-weight: 300;
  background: #f89728;
}
.quotesSlider ul {
  position: relative;
  top: 0;
  bottom: 0;
}
.quotesSlider ul li {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}
.quotesSlider ul li .author {
  font-weight: 400;
  font-family: 'Roboto Slab', sans-serif;
  margin: 30px 0 15px 0;
  display: block;
}
.quotesSlider ul li.active {
  height: inherit;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.quotesSlider .controls {
  display: inline-block;
}
.quotesSlider .controls span {
  font-size: 24px;
  font-weight: 900;
  font-family: arial;
  line-height: 24px;
  margin: 40px 0 0 0;
  padding: 5px 16px 7px 16px;
  cursor: pointer;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.quotesSlider .controls span:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.quotesSlider .bullets {
  font-size: 0;
  text-align: center;
  width: 80%;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.quotesSlider .bullets span {
  width: 12px;
  height: 12px;
  margin: 0 3px;
  padding: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.quotesSlider .bullets span.active {
  background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .quotesSlider .controls span {
    margin-top: 25px;
  }
  .quotesSlider .bullets {
    width: inherit;
  }
}
/* Portfolio section */
.portfolio {
  min-height: 970px;
}
.portfolio .items {
  min-height: 300;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}
.portfolio .item {
  min-height: 20px;
  cursor: pointer;
  margin: 0 0 30px 0;
  position: relative;
  border: 1px solid #FFFFFF;
  display: none;
  overflow: hidden;
}
.portfolio .item .bg {
  height: 100%;
  width: 100%;
  display: block
	position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
  background: #000000;
  z-index: -1;
}
.portfolio .item img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.portfolio .item:hover img {
  opacity: 0.5;
}
.portfolio .item span h2 {
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 150%;
  left: 15px;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.portfolio .item span h3 {
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  position: absolute;
  top: 150%;
  left: 15px;
  right: 15px;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: 0.55s ease;
  transition: 0.55s ease;
}
.portfolio .item:hover span h2,
.portfolio .item:hover span h3 {
  top: 42%;
}
.portfolio .item span h2,
.portfolio .item span h3 {
  color: #FFFFFF;
  display: inline-block;
}
.portfolio .sorting {
  display: none;
}
@media (max-width: 1024px) {
  .portfolio .item img {
    opacity: 0.5;
  }
  .portfolio .item span h2 {
    font-size: 24px;
    top: 42%;
  }
  .portfolio .item span h3 {
    margin-top: 5px;
    font-size: 18px;
    top: 42%;
  }
}
@media (max-width: 768px) {
  .portfolio .sorting {
    font-size: 16px;
    padding: 5px 11px 2px 11px;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #BEBEBE;
    border-radius: 3px;
  }
  .portfolio .sorting:after {
    content: '\f107';
    font-family: fontawesome;
    margin: 0 0 0 5px;
    font-size: 21px;
    vertical-align: middle;
  }
  .portfolio .sorting.open {
    border-radius: 3px 3px 0 0;
    margin-bottom: 0px;
  }
  .portfolio nav.horizontal {
    display: none;
    border: 1px solid #BEBEBE;
    border-top: 0px;
    border-bottom: 0px;
    margin-bottom: 20px;
    border-radius: 0px 0px 3px 3px;
  }
  .portfolio nav.horizontal a {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 9px 11px 9px 11px;
    margin: 0;
    display: block;
    border-bottom: 1px solid #BEBEBE;
  }
}
/* Parralax section */
.parallax-container {
  width: 100% !important;
  min-height: 400px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  background: #e2e2e2;
}
.parallax {
  height: 400px;
  width: 100%;
  background: url('../img/header_background.jpg') 50% 0px no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
}
/* Team section */
.team h2 {
  margin: 30px 0 0 0;
  display: block;
}
.team img {
  width: 100%;
}
.team .profile-img {
  position: relative;
}
.team .profile-img img {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.team .profile-img img.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.team .profile-img:hover img.hover {
  opacity: 1;
}
.team .function {
  font-size: 16px;
  padding: 0;
  margin: 20px 0 30px 0;
  display: inline-block;
}
.team p {
  padding: 30px 0 0 0;
  margin: 0;
  border-top: 1px solid #d8d4ca;
}
@media (max-width: 768px) {
  .team .col-md-4 {
    margin-bottom: 40px;
  }
  .team h2 {
    margin: 10px 0 0 0;
  }
  .team .function {
    margin: 15px 0;
  }
  .team p {
    padding: 15px 0 0 0;
  }
}
/* News articles */
.newsarticles article {
  margin-bottom: 40px;
  display: block;
  line-height: 23px;
  position: relative;
}
.newsarticles article.future-news {
  opacity: 0.5;
}
.newsarticles article h1 {
  margin-bottom: 20px;
}
.newsarticles article h1 a {
  color: #5d5454;
}
.newsarticles article h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.newsarticles article h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.newsarticles article p {
  margin: 0 0 15px 0;
}
.newsarticles article img {
  max-width: 100%;
}
/* Contact section */
.contact {
  font-size: 18px;
  color: #898989;
}
.contact p {
  margin: 40px 0;
}
.contact h2 {
  color: #5d5454;
}
.contact h3 {
  color: #9a9a9a;
  margin: 0 0 10px 0;
}
.contact address {
  font-style: normal;
  text-decoration: none;
}
.contact .social {
  margin-top: 40px;
}
.contact .social span {
  color: #9a9a9a;
  cursor: pointer;
  -webkit-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
.contact .social span:hover {
  color: #f89728;
}
@media (max-width: 768px) {
  .contact h2 {
    display: none;
  }
  .contact p {
    margin: 20px 0;
  }
  .contact .social {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
/* Article */
.article {
  margin: 0;
  padding: 0;
}
.article .head {
  height: 850px;
  height: 98vh;
  width: 100%;
  background: #000000;
  position: relative;
}
.article .head .background {
  min-width: 100%;
  min-height: 100%;
  top: 0;
  position: absolute;
  opacity: 0.7;
}
.article .head .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.article .head h1 {
  color: #FFFFFF;
}
.article .head h1:after {
  display: none;
}
.article .head img {
  width: 100%;
  margin-top: 40px;
}
.article .content h2 {
  color: #413C3C;
  font-family: roboto;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #d8d4ca;
}
.article .content h3 {
  color: #9A9A9A;
  font-family: roboto;
}
.article .content p {
  color: #413C3C;
  font-family: roboto;
  font-size: 18px;
  line-height: 32px;
  margin: 45px 0;
}
/* Modal overlay */
.modal {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.modal .close {
  color: #FFFFFF;
  float: right;
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}
/* Footer */
footer {
  color: #6b6a69;
  text-align: right;
  padding: 15px 0;
  background: #1f1f1f;
}
footer a {
  color: #FFFFFF;
}
footer a:hover {
  color: #6b6a69;
}
/* Animations */
@-webkit-keyframes headerFixed {
  from {
    top: -115px;
    background: none;
  }
  to {
    top: -35px;
    background: white;
  }
}
@keyframes headerFixed {
  from {
    top: -115px;
    background: none;
  }
  to {
    top: -35px;
    background: white;
  }
}
/* Spinner */
.opacity {
  opacity: 0.6;
}
