<div class="container">
    <h1><?php echo __('Installatie Sitekick'); ?></h1>


    <?php
    if( !empty($messages) ){
        foreach($messages as $message){
            echo $message . '<br/>';
        }
    } else {
        echo '<p>' . __('Geen migratie bestanden gevonden om te installeren') . '</p>';
    }
    ?>
</div>