<div class="analytics-error alert-bar alert-error"<?php if( $show_as_second == true ) echo ' style="top:106px !important;"'; ?>>
    <span class="warning">!</span> Er is een nieuwe versie van Google Analytics. Neem contact op met <a href="http://nobears.nl" target="_blank">NOBEARS</a>.
</div>