<?php


$this->viewBuilder()->layout('default');
if($this->request->params['prefix']){
	$this->viewBuilder()->layout('sitekick_error');
}


use Cake\Core\Configure;
?>
<h2><?= $message; ?></h2>
<p class="error">
	<strong><?= __d('cake', 'Error'); ?>: </strong>
	<?php printf(
		__d('cake', 'The requested address %s was not found on this server.'),
		"<strong>'{$url}'</strong>"
	); ?>
</p>
<?php
if (Configure::read('debug')):
	echo $this->element('exception_stack_trace');
endif;
?>
